#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body{
  background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(128, 128, 128, 0.2));
}
#page {
  background: linear-gradient(rgba(255, 255, 255, 0.2),rgba(255, 189, 189, 0.2));
  border: 1px solid rgb(168, 168, 168);
  padding: 20px;
}
@media (width < 400px) {
  
}

